@model PizzaBaren.Models.Pizza

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaNumber" class="control-label"></label>
                <input asp-for="PizzaNumber" class="form-control" />
                <span asp-validation-for="PizzaNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaName" class="control-label"></label>
                <input asp-for="PizzaName" class="form-control" />
                <span asp-validation-for="PizzaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pris" class="control-label"></label>
                <input asp-for="Pris" class="form-control" />
                <span asp-validation-for="Pris" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

